[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = FedoseevVG
	email = 141115246+FedoseevVG@users.noreply.github.com
